<div class="container">
  <h1>Todo List</h1>
  <p class="edit-hint">✅ Clique no ícone no quadrado para completar a tarefa</p>
  <p class="edit-hint">✅ Clique no icone do lápis para editar a tarefa</p>
  <p class="edit-hint">✅ Clique no ícone da lixeira para excluir a tarefa</p>

  <div class="input-section">
    <input [(ngModel)]="newTask" placeholder="Adicionar nova tarefa" (keyup.enter)="addTask()">
    <button (click)="addTask()">Adicionar</button>
  </div>

  <ul class="task-list">
    <li *ngFor="let task of tasks" [class.completed]="task.completed">
      <ng-container *ngIf="!task.editing; else editTaskTemplate">
        <span>{{ task.title }}</span>
      </ng-container>
      <ng-template #editTaskTemplate>
        <div class="edit-input-group">
          <input type="text" [(ngModel)]="task.title" (blur)="saveTask(task)" (keyup.enter)="saveTask(task)">
          <button class="update-button" (click)="saveTask(task)" aria-label="Salvar alterações">✔️</button>
        </div>
        <button class="cancel-button" (click)="disableEditMode(task)" aria-label="Cancelar edição">❌</button>
      </ng-template>
      <div class="task-actions">
        <input type="checkbox" [checked]="task.completed" (change)="toggleCompleted(task)" *ngIf="!task.editing">
        <button class="edit-button" *ngIf="!task.editing" (click)="enableEditMode(task)" aria-label="Editar tarefa">✏️</button>
        <button class="delete-button" *ngIf="!task.editing" (click)="deleteTask(task)" aria-label="Excluir tarefa">🗑️</button>
      </div>
    </li>
  </ul>
</div>